APP_NAME=OUTFLITS_ERP
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=outflits
DB_USERNAME=outflits
DB_PASSWORD=outflits

QUEUE_CONNECTION=redis
REDIS_HOST=redis

JWT_SECRET=
